#differential-growth-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: 1;
  pointer-events: none;
}

#differential-growth-container * {
  box-sizing: border-box;
}

#differential-growth-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#differential-growth-container .is-hidden {
  display: none !important;
}

#differential-growth-container .is-centered {
  text-align: center;
}

#differential-growth-container #canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: auto;
}

#differential-growth-container #p5-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#differential-growth-container canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
  pointer-events: auto;
}

/*
 Button prototype
*/
#differential-growth-container button,
#differential-growth-container .button {
  display: inline-block;
  background: transparent;
  background-color: rgba(228, 228, 228);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  padding: 0;
}


/*
 Top controls - play/pause button
*/
#differential-growth-container .top-controls {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}

  #differential-growth-container .top-controls button {
    background-color: transparent;
    pointer-events: auto;
    position: relative;
  }

    #differential-growth-container .top-controls button:focus {
      outline-offset: 8px;
    }

    #differential-growth-container .top-controls button .icon {
      color: rgba(203,203,203);
      font-size: 50px;
    }

      #differential-growth-container .top-controls button:hover .icon,
      #differential-growth-container .top-controls button:focus .icon {
        color: black;
      }

/*
 Toolbar prototype
*/
#differential-growth-container .toolbar {
  z-index: 1000;
  position: absolute;
  pointer-events: auto;
}

  #differential-growth-container .toolbar li {
    margin-bottom: 20px;
  }

    #differential-growth-container .toolbar .button:focus {
      outline-offset: 4px;
    }

    #differential-growth-container .toolbar .button {
      pointer-events: auto;
      position: relative;
    }

    #differential-growth-container .toolbar .button:hover,
    #differential-growth-container .toolbar .button[aria-current="true"],
    #differential-growth-container .toolbar .button:focus {
      background-color: rgba(51,51,51);
      color: white;
      box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    }

      #differential-growth-container .toolbar .button:hover .icon,
      #differential-growth-container .toolbar .button:focus .icon,
      #differential-growth-container .toolbar .button[aria-current="true"] .icon {
        opacity: .85;
        color: white;
      }

      #differential-growth-container .toolbar .button:hover .text,
      #differential-growth-container .toolbar .button:focus .text {
        display: inline-block;
      }

    #differential-growth-container .toolbar .button .icon {
      color: black;
      font-size: 26px;
      opacity: .4;
      padding: 15px;
      min-width: 60px;
      vertical-align: middle;
      text-align: center;
      pointer-events: none;
    }

    #differential-growth-container .toolbar .button .text {
      display: none;
      font-size: 18px;
      opacity: .85;
      vertical-align: middle;
      text-align: right;
      pointer-events: none;
    }


/*
 Left menu - drawing tools
*/
#differential-growth-container .left-menu {
  left: 10px;
  top: 10px;
  z-index: 1000;
}

  #differential-growth-container .left-menu .button .text {
    margin-left: -5px;
    padding-right: 25px;
  }


/*
 Right menu - view source, help, etc
*/
#differential-growth-container .right-menu {
  right: 10px;
  top: 10px;
  text-align: right;
  z-index: 1000;
}

  #differential-growth-container .right-menu .button .text {
    margin-right: -5px;
    padding-left: 25px;
  }


/*
  Modal window
*/
  #differential-growth-container .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  pointer-events: none;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 80px 20px 20px 20px;

  display: none;
}

  #differential-growth-container .modal.is-visible  {
    display: flex;
    pointer-events: auto;
  }

    #differential-growth-container .modal.is-visible .modal-backdrop {
      background-color: rgba(0,0,0,.15);
    }

  #differential-growth-container .modal .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0);
    transition: background-color .3s linear;
  }

  #differential-growth-container .modal .modal-content {
    position: relative;
    background-color: rgba(0,0,0,0.95);
    padding: 20px 25px;
    color: rgba(255,255,255,.8);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,.4);
    width: 420px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    pointer-events: auto;
  }

    #differential-growth-container .modal .modal-content .close {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 30px;
      opacity: .7;
      cursor: pointer;
      background: none;
      color: white;
    }

      #differential-growth-container .modal .modal-content .close:hover {
        opacity: 1;
      }

      #differential-growth-container .modal .modal-content .close:focus {
        outline-offset: 4px;
      }

    #differential-growth-container .modal .modal-content h1 {
      margin-top: 0;
      font-size: 20px;
    }

    #differential-growth-container .modal .modal-content h1,
    #differential-growth-container .modal .modal-content h2,
    #differential-growth-container .modal .modal-content h3 {
      margin-bottom: 10px;
      color: rgba(255,255,255,.9);
    }

    #differential-growth-container .modal .modal-content p {
      margin-bottom: 20px;
    }

    #differential-growth-container .modal .modal-content a {
      color: rgb(255,255,255,.8);
      font-weight: bold;
    }

      #differential-growth-container .modal .modal-content a:hover {
        color: rgba(255,255,255,1);
      }

    #differential-growth-container .modal .modal-content code {
      background-color: rgba(255,255,255,.75);
      color: rgba(0,0,0,.8);
      padding: 4px 8px 4px 8px;
      font-weight: bold;
      border-radius: 3px;
      display: inline-block;
    }

  #differential-growth-container .modal .modal-content .columns {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    border-top: 1px solid rgba(255,255,255,.2);
  }

    #differential-growth-container .modal .modal-content .columns .column {
      flex: 1;
      flex-basis: 50%;
      padding: 20px;
      border-right: 1px solid rgba(255,255,255,.2);
      border-bottom: 1px solid rgba(255,255,255,.2);
    }

      #differential-growth-container .modal .modal-content .columns .column:nth-of-type(odd) {
        padding-left: 0;
      }

      #differential-growth-container .modal .modal-content .columns .column:nth-of-type(even) {
        border-right: 0;
        padding-right: 0;
      }


  /* Keyboard controls modal */
  #differential-growth-container .modal .modal-content .keyboard-controls-content {}

    #differential-growth-container .modal .modal-content .keyboard-controls-content h1 {
      margin-bottom: 20px;
    }

    #differential-growth-container .modal .modal-content .keyboard-controls-content li {
      margin-bottom: 10px;
    }


  /* About modal */
  #differential-growth-container .modal .modal-content .about-content {
    width: 700px;
    max-width: 90%;
  }

    #differential-growth-container .modal .modal-content .about-content .columns {
      margin-top: 30px;
    }


  /* Adjust parameters modal */
  #differential-growth-container .modal .modal-content .parameters-content {}

    #differential-growth-container .modal .modal-content .parameters-content .column {
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin: 10px 0;
      width: 100%;
      max-width: 100%;
    }

      #differential-growth-container .modal .modal-content .parameters-content .column:first-of-type {
        padding-right: 5px;
      }

      #differential-growth-container .modal .modal-content .parameters-content .column:last-of-type {
        padding-left: 5px;
      }

    #differential-growth-container .modal .modal-content .parameters-content fieldset {
      background-color: rgba(255,255,255,.1);
      padding: 12px;
      margin-bottom: 8px;
      border: none;
    }

      #differential-growth-container .modal .modal-content .parameters-content .control {
        margin-bottom: 8px;
      }

        #differential-growth-container .modal .modal-content .parameters-content .column:last-of-type fieldset:first-of-type .control:last-of-type {
          margin-bottom: 0;
        }

        #differential-growth-container .modal .modal-content .parameters-content .control.range {
          margin-bottom: 25px;
        }

          #differential-growth-container .modal .modal-content .parameters-content .control.range:last-of-type {
            margin-bottom: 10px;
          }

      #differential-growth-container .modal .modal-content .parameters-content fieldset label {
        vertical-align: middle;
        width: 140px;
        display: inline-block;
        font-size: 14px;
      }

      #differential-growth-container .modal .modal-content .parameters-content fieldset input {
        vertical-align: middle;
      }

        /* Custom checkboxes */
        #differential-growth-container .modal .modal-content .parameters-content fieldset:not(:first-of-type) input[type='checkbox'] + label {
          width: 200px;
          margin-bottom: 10px;
        }

        #differential-growth-container .modal .modal-content .parameters-content fieldset input[type='checkbox'] + label:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 12px;
          font-weight: bold;
          content: ' ';
          color: black;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          width: 15px;
          height: 14px;
          background-color: white;
          vertical-align: middle;
          border-radius: 2px;
          margin-right: 10px;
          margin-top: -2px;
          padding-top: 2px;
        }

          #differential-growth-container .modal .modal-content .parameters-content fieldset input[type='checkbox']:checked + label:before {
            content: '\f00c';
          }

          #differential-growth-container .modal .modal-content .parameters-content fieldset input[type='checkbox']:focus + label::before {
            outline: 1px solid white;
            outline-offset: 4px;
          }

      /* Value next to ranges */
      #differential-growth-container .modal .modal-content .parameters-content fieldset .value {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        opacity: .8;
        margin-left: 5px;
        vertical-align: middle
      }

      /* Description under ranges */
      #differential-growth-container .modal .modal-content .parameters-content fieldset .description {
        font-size: 14px;
        opacity: .5;
        margin-top: 5px;
      }

    /* Apply button */
    #differential-growth-container .modal .modal-content .about-content .start,
    #differential-growth-container .modal .modal-content .parameters-content .apply {
      border-radius: 5px;
      border: 1px solid rgba(255,255,255,.8);
      font-size: 18px;
      color: rgba(255,255,255,.7);
      padding: 10px 20px;
      background: none;
    }

      #differential-growth-container .modal .modal-content .about-content .start:hover,
      #differential-growth-container .modal .modal-content .about-content .start:focus,
      #differential-growth-container .modal .modal-content .parameters-content .apply:hover,
      #differential-growth-container .modal .modal-content .parameters-content .apply:focus {
        color: black;
        background-color: white;
        text-decoration: underline;
      }

      #differential-growth-container .modal .modal-content .about-content .start:focus,
      #differential-growth-container .modal .modal-content .parameters-content .apply:focus {
        outline-offset: 4px;
      }

/*
  Inverted colors mode
*/
#differential-growth-container.is-inverted {}

  #differential-growth-container.is-inverted .modal.is-visible .modal-backdrop {
    background-color: rgba(255,255,255,.1);
  }

/*
  Custom range styles
*/
#differential-growth-container input[type=range] {
  background-color: transparent;
  -webkit-appearance: none;
  margin: 0;
}

  #differential-growth-container input[type=range]:focus {
    outline-offset: 4px;
  }

  #differential-growth-container input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 0;
    background: rgba(0,0,0,1);
    border-radius: 0;
    border: 0;
  }

  #differential-growth-container input[type=range]::-webkit-slider-thumb {
    box-shadow: 0;
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 0;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
  }

  #differential-growth-container input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0,0,0,1);
  }

  #differential-growth-container input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 0;
    background: rgba(0,0,0,1);
    border-radius: 0;
    border: 0;
  }

  #differential-growth-container input[type=range]::-moz-range-thumb {
    box-shadow: 0;
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 0;
    background: rgba(255,255,255,.5);
    cursor: pointer;
  }

  #differential-growth-container input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  #differential-growth-container input[type=range]::-ms-fill-lower {
    background: rgba(0,0,0,1);
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #differential-growth-container input[type=range]::-ms-fill-upper {
    background: rgba(0,0,0,1);
    border: 0;
    border-radius: 0;
    box-shadow: 0;
  }

  #differential-growth-container input[type=range]::-ms-thumb {
    box-shadow: 0;
    border: 0;
    width: 15px;
    border-radius: 0;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    height: 15px;
  }

  #differential-growth-container input[type=range]:focus::-ms-fill-lower {
    background: rgba(0,0,0,1);
  }

  #differential-growth-container input[type=range]:focus::-ms-fill-upper {
    background: rgba(0,0,0,1);
  }

  #differential-growth-container input[type=range]::-webkit-slider-thumb:hover,
  #differential-growth-container input[type=range]::-moz-range-thumb:hover,
  #differential-growth-container input[type=range]::-ms-thumb:hover {
    background: rgba(0,0,0,.8);
  }

/* Screen reader only */
#differential-growth-container .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

